.body-content {
    padding-left: 230px;
    padding-right: 15px;
}
.panel-info {
    border-color: #bce8f1;
    margin-top: 71px;
    height: 300px;
    width: 561px;
    margin-left: 469px;
    height: 780px;
    margin-top: -51px;
}
.txt1 {
    margin-left: 20px;
    height: 52px;
    width: 304px;
}
.txt2 {
    margin-left: 23px;
    height: 52px;
    width: 275px;
    margin-top: 44px;
}
.btn {
    margin-top: 27px;
    margin-left: -26px;
    width: 335px;
}
h2 {
    margin-left: 209px;
    font-size: 24px;
    text-align: center;
}
.img1 {
    width: 312px;
    height: 97px;
    margin-left: 94px;
    margin-top: 10px;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../upload/job.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-inverse {
    background-color: #222222;
    border-color: #080808;
    margin-top: -52px;
}
.panel-body {
    padding-left: 128px;
    width: 581px;
}
.pnl {
     margin-left: -144px;
    height: 32px;
    
}
#myCarousel {
    margin-top: -73px;
}
.pn {
    margin-left: -292px;
    width: 934px;
    
}