.txt2 {
    margin-left: 400px;
    margin-top: -50px;
}
.txt4 {
    margin-left: 403px;
    margin-top: -50px;
}

.txt6 {
    margin-left: 403px;
    margin-top: -50px;
}

.btn-success {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
    margin-left: 82px;
    font-size: 19px;
}
.panel-body {
    padding: 15px;
    margin-left: 192px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../upload/videoblocks-green-bright-stripes-abstract-motion-background-design-seamless-loop-video-animation-ultra-hd-4k-3840x2160_sjm4ukzfz_thumbnail-small01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
textarea {
    max-width: 280px;
    margin: 0px;
    width: 303px;
    height: 129px;
}