

<img src="~/upload/Untitled.png">
<img src="~/upload/sem-internet.jpg" style="margin-top:-1076px;
    margin-left:259px;">

<style>
    #searchname {
        margin-left: -1033px;
    }
</style>



<a type="button" class="btn btn-info" href="~/jobs/Les_Demande_Apply"  style="margin-top:-619px;width: 211px;
    height: 35px;
    margin-left: -387px;">retour a la page précédent</a>
